<session class="hero">
  <%=image_tag("hero.jpg",alt:"Webapp")%>
  <div class="hero-container w-container">
    <h1>Stationery Services</h1>
    <p>便利な道具とサービスをお届けします。</p>
    <%= link_to("無料で始める","#",{class:"btn"})%>
  </div>
</session>

<session class="imgtext">
  <div class="imgtext-container w-container">
    <div class="text">
      <h2 class="heading-decoration">日常のツールたち</h2>
      <p>Convenient</p>
      <p>どこにでもある、誰でも使ったとこがある、普段は存在を意識しないけれどないと困るツールたち。日常をちょっと楽しくしてくれます。</p>
    </div>
    <figure class="img">
      <%=image_tag("tool.jpg",alt:"",width:"1600",height:"1260")%>
    </figure>
  </div>
</session>