<session class="hero">
  <%=image_tag("hero.jpg",alt:"Webapp")%>
  <div class="hero-container w-container">
    <h1>Stationery Services</h1>
    <p>便利な道具とサービスをお届けします。</p>
    <%= link_to("無料で始める","#",{class:"btn"})%>
  </div>
</session>