/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    margin: 0;
    background-color:#eeeeee;
 }

 .w-container{
   width: min(92%,1166px);
   margin:auto;
 }
 
 .header{
    height:112px;
    background-color:#ffffff;
 }

 .header-container{
   display:flex;
   justify-content: space-between;
   align-items: center;
   height:100%;
 }
 
 .sidebar {
   background-color:#ff838b;
   width: 100px;;
   height:500px;
   font-family: 'Montserrat', sans-serif;
   text-align:center;
   margin-left:5px;
 } 

 .sidecontents {
  display:block;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align:left;
} 
 
 .main {
   background-color:#b3d874;
   width: max(90%);
   height:500px;
   text-align:center;
   font-family: 'Montserrat', sans-serif;
   margin-left:5px;
   margin-right:5px;
 }
 .maincontents {
  display:block;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align:left;
} 
 
 article {
   display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
 }