body {
    margin: 0;
    color:#222222;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 ,p ,figure,ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

p{
  line-height:1.8;
}

a{
  color:inherit;
  text-decoration: none;
}

a:hover{
  filter:brightness(90%) contrast(120%);
}

img{
  display: block;
  max-width: 100%;
  height:auto;
}

/* ヘッダーの設定 */
.header{
  position: sticky;
  top: 0;
  z-index: 10;
  height:70px;
  background-color:#ffffff;
}

.header-container{
  display:flex;
  align-items: center;
  height:100%;
}

.header-container>.site{
  margin-right:auto;
}

/* フッターの設定 */
.footer{
  padding:70px 0;
  background-color: #ffffff;
  color:#707070;
  font-size:13px;
}

.footer-container{
  display:grid;
  gap:50px;
  justify-items:center;
}

@media(min-width:768px){
  .footer-container{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap:20px;
  }
  .footer-container>.footer-site{
    margin-bottom:20px;
  }
  .footer-container>*:not(.footer-sns){
    justify-self: start;
  }
  .footer-container>.footer-sns{
    grid-column: 2;
    grid-row:1/4;
    justify-self: end;
    align-self: center;
  }
}

.footer-sns{
  display:flex;
  gap:24px;
  font-size: 24px;
}

.footer-sns a{
  display:grid;
  place-items: center;
  width:36px;
  aspect-ratio: 1/1;
  background-color:#cccccc;
  color:#ffffff;
  clip-path:circle(50%);
}

@supports not(aspect-ratio: 1/1){
  .footer-sns a{
    height:36px;
  }
}

.footer-menu{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}

/* サイドメニューの設定 */
.menubtn{
  padding: 0;
  outline: none;
  border: none;
  background:transparent;
  cursor: pointer;
  color:#aaaaaa;
  font-size:30px;
  margin-left: 5px;
}

.open .menubtn{
  z-index: 110;
  color: #ffffff;
}

.menubtn .fa-bars{
  display: revert;
}

.open .menubtn .fa-bars{
  display:none;
}

.menubtn .fa-times{
  display:none;
}

.open .menubtn .fa-times{
  display: revert;
}

@media(min-width:768px){
  .menubtn{
    display:none;
  }
}

@media(max-width:767px){
  .menu{
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index:100;
    background-color:#4e483ae6;
    transition: transform 0.3s;
  }
  .open .menu{
    transform: translate(-100%,0);
  }
  .open body{
    position: static;
    overflow: hidden;
  }
  .menu ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    gap:40px;
    color:#ffffff;
  }

  .menu a{
    display: inline-block;
    padding: relative;
    overflow: hidden;
    color:#fff;
    text-decoration: none;
  }

  .menu a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform:translate(-100%,0) ;
    transition: transform cubic-bezier(0.215,0.61, 0.355, 1) 0.4s;
    content:"";
  }

  .menu a:hover:after{
    transform: translate(0,0) ;
  }
}

@media(min-width:768px){
  .menu ul{
    display:flex;
    gap: 40px;
    color:#707070;
  }
}

/* メインページの設定 */
.hero{
  display: grid;
  grid-template-rows:742px;
  padding-bottom: 20px;
}

.hero>*{
  grid-area: 1/1;
}

.hero>img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.hero-container{
  display:grid;
  justify-items: center;
  align-content: center;
  height:100%;
}

.hero h1{
  margin-bottom: 42px;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(48px,5vw,68px);
  min-height: 0vw;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.hero p{
  margin-bottom: 72px;
}

/* 画像＋テキストの表示設定 */
.imgtext{
  background-color: #ffffff;
  padding-bottom: 20px;
}

.imgtext-container{
  display: flex;
  flex-direction: column;
  gap:clamp(45px,6vw,80px);
}

@media(min-width:768px){
  .imgtext-container{
    flex-direction: row;
    align-items: center;
  }
  .imgtext-container>.text{
    flex:1;
    min-width: 17em;
  }
  .imgtext-container>.img{
    flex:2;
  }
  .imgtext-container.reverse{
    flex-direction: row-reverse;
  }
}

/* 見出し設定 */
.heading{
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(40px,5.2vw,70px);
  min-height: 0vw;
  font-weight: 300;
}

.heading span{
  display:block;
  color:#666666;
  font-size: 18px;
}

.heading-decoration{
  font-size: clamp(30px,3vw,40px);
  min-height: 0vw;
  font-weight: 400;
}

.heading-decoration::after{
  display:block;
  content:'';
  width: 320px;
  height:0px;
  border-top: solid 1px #b72661;
  margin-top: 0.1em;
}

.heading-decoration p{
  margin-top: 1em;
  margin-bottom: 2em;
  color:#707070;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

/* ポストカード羅列設定 */
.posts{
  background-color:#f3f1ed;
  padding-top: 20px;
  padding-bottom: 20px;
}

.posts-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:25px 25px;
}

@media(min-width:768px){
  .posts-container{
    grid-template-columns: repeat(3,1fr);
  }
}

.post a{
  display: block;
}

.post h3{
  margin: 1em 0 0.5em;
  font-size:clmap(12px,2vw,20px);
  min-height: 0vw;
}

.post p{
  max-width: 20em;
  font-size:clmap(10px,1.6vw,14px);
  min-height: 0vw;
}

.post img{
  aspect-ratio:3/2;
  object-fit: cover;
  width: 100%;
}

@supports not(aspect-ratio: 3/2){
  .post img{
    height:180px;
  }
}

/* プランページの設定 */
.entry{
  background-color:#ffffff;
}

.entry-img img{
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  padding-bottom: 20px;
}

.entry .w-container{
  max-width: 720px;
}

.entry-container{
  padding-top:20px;
  padding-bottom:20px;
  font-size:clamp(16px,2.4vw,18px);
}

.entry-container
:where(h1,h2,h3,h4,h5,h6,p,figure,ul){
  margin-top: revert;
  margin-bottom: revert;
  padding: revert;
  list-style: revert;
}

.entry-container p{
  margin: 1.8em 0;
}

.entry-container>:first-child{
  margin-top:0;
}

.entry-container>:last-child{
  margin-bottom: 0;
}

.plans{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#e9e5e9;
}

.plans-container{
  display: grid;
  gap:27px;
}

@media(min-width:768px){
  .plans-container{
    grid-template-columns: repeat(3,1fr);
  }
}

.plan{
  display: flex;
  flex-direction: column;
  padding:60px 27px;
  border-radius: 20px;
  background-color:#ffffff;
}

.plan h3{
  margin-bottom: 38px;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 400;
}

.plan .desc{
  margin-bottom: 38px;
}

.plan .price{
  margin-top: auto;
  margin-bottom: 22px;
  font-size: 26px;
  font-weight: bold;
}

.plan .btn{
  width:auto;
}

.btn{
  display: block;
  width:260px;
  padding:10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #e8b368;
  color:#ffffff;
  font-size:18px;
  text-align:center;
  text-shadow:0 0 6px #00000052;
}

.btn-accent{
  background-color: #b72661;
}

/* 各ページの無効化や特殊設定 */
.w-container{
  width: 92%;
  max-width: 1166px;
  margin:auto;
  position: relative;
}

.tabpage{
  padding: revert;
}

.tabpage .heading{
  display: inline-block;
}
.tabpage span{
  display:block;
}
.decoration::after{
  display:block;
  content:'';
  height:0px;
  border-top: solid 1px #b72661;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}